.specs-list {
  table {
    .tr-hover th {
      width: 10% !important;
    }

    .ttl {
      width: 15%;
    }

    .nfo {
      width: 75%;
    }
  }
}

.makers {
  position: relative;
  padding-top: 10px;
  padding-left: 5px;
  left: 0;
  width: 100%;

  a {
    display: block;
    text-align: center;
    text-decoration: none !important;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
  }

  img {
    background: #FFFFFF;
    clear: both;
    margin: 0 auto 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100px;
  }

  li {
    float: left;
    height: 215px;
    position: relative;
    text-align: center;
    width: 143px;
    list-style: none !important;
    margin: 0px 0px 10px 0px;
    padding-top: 0;
  }

  strong {
    clear: both;
    display: block;
    font: 700 14px "Arimo", Arial, sans-serif;
    margin: 0px auto 0;
    padding: 28px 5px;
    text-decoration: none;
    color: #777;
    position: absolute;
    bottom: 12px;
    width: 100%;
  }
}

.specs-photo-main {
  margin-bottom: 20px;
  margin-top: 20px;
}

.article-info-meta li {
  float: right;
  line-height: 44px;
  position: relative;
  z-index: 10;
  list-style-type: none;
}

.article-info-line.page-specs.light {
  background: #bbb;
  margin-bottom: 20px;
}

.page-specs .article-info-meta-link a {
  text-shadow: none;
}

.article-info-meta-link a {
  display: block;
  padding: 0 10px;
  min-width: 140px;
  font: 400 14px/44px Google-Oswald, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.article-info-line {
  height: 45px;
  left: 0;
  position: relative;
  width: 100%;
  z-index: 5;
  overflow: hidden;
}

.specs-phone-name-title {
  float: left;
  padding-left: 10px;
  font: 300 28px/47px 'Google-Oswald', Arial, sans-serif;
  text-shadow: none;
  color: #fff;
  margin-top: -2px;
}

.table-responsive {
  border: none !important;
}

.table-responsive > .table-bordered {
  border: 1px solid #ddd !important;
}

.table-responsive > .table-bordered > tbody > tr:last-child > th,
.table-responsive > .table-bordered > tfoot > tr:last-child > th,
.table-responsive > .table-bordered > tbody > tr:last-child > td,
.table-responsive > .table-bordered > tfoot > tr:last-child > td {
  border: 1px solid #ddd !important;
}
